img {
  border-radius: 0px 25px 25px 0px;
}
body {
  margin: 0 auto;
}
main {
  background-color: #f1efef;
  margin: 0 auto;
  background-image: url(bg1.jpg);
  background-repeat: repeat;
  background-size: 100%;
}

#section1 {
  background-image: url(front.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

  margin-bottom: 0px;
  overflow: hidden;
}

#front {
  background-color: rgba(20, 7, 7, 0.575);
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: script mt;
  color: #f1f1f1f8;
  font-weight: 700;
  font-size: 4.1rem;

  text-align: center;
}

#seMenu {
  color: #a84b52;
  align-self: center;
  margin: 0;
  width: 200px;
  text-align: center;
  border-radius: 15px;
}

#seMenu:hover{
  color: #9b484f;
  font-weight: bolder;
}
/*header*/
header {
  width: 100vw;
  background-color: #f1f1f1f8;

  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  height: 7vh;
}
#logotitle {
  display: flex;
  flex-direction: row;
}
header #logo {
  height: 45px;
  margin: 8px;
  border-radius: 0;
}

header h2 {
  font-family: script mt;
  margin-left: 10px;
  margin-top: 8px;
  color:#a84b52;
  font-weight: 700;
  font-size: 2.1rem;
}

.menubutton {
  border: none;
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  color: #6b5a5b;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding-top:20px;
  background-color: none;

}
.menubutton:hover {
  color: #a84b52;
  font-weight: bolder;
}
/*loopview*/
#menuen {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  row-gap: 20px;
  column-gap: 40px;
  padding: 2rem;
  margin: auto;
  max-width: 1400px;
}

.om {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.retten {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 22vh;
  padding-left: 20px;

  background-color: #f8f7f6;
  border-radius: 15px;
  box-shadow: 0px 4px 5px 1px rgba(90, 90, 90, 0.397);

  cursor: pointer;
}

.retten img {
  width: 260px;
  object-fit: cover;
  object-position: 20% 50%;
  border-radius: 0px 15px 15px 0px;
}

/*--------filtrering-----------*/
#filtersection {
  background-color: white;
  margin: 0;
  text-align: center;
  padding-top: 7vh;
}

#filtersection nav {
  padding-bottom: 15px;
  box-shadow: 0px 9px 6px 0px rgba(127, 127, 127, 0.82);
}
.knap {
  background-color: white;
  border: none;
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  color: #6b5a5b;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.knap:hover {
  background-color: #f1efef;
}
.valgt {
  color: #a84b52;
  font-weight: bolder;
}

/*--------POPUP/Single view--------*/
#popup {
  overflow-y: scroll;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.856);
}

#popup article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45vw;
  margin: 4rem auto;
  padding: 15px;
  border-radius: 25px;
  background-color: #f8f7f6;
}

#ret img {
  width: 100%;
  border-radius: 0;
}

#luk {
  position: fixed;
  padding: 1em;
  font-size: 1.7em;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#ret .info {
  padding-left: 5px;
}

#ret .navn {
  margin: 0px;
  padding-top: 5px;
  font-size: 1.8rem;
}

#ret .oprindelse {
  color: #a84b52;
  padding-bottom: 20px;
}

#ret .langbeskrivelse {
  font-weight: normal;
  font-size: 1.2rem;
}

#ret .dk {
  color: #a84b52;
  font-size: 1.5rem;
}

#ret .pris {
  color: #a84b52;
  font-size: 1.5rem;
}

/*/*footer*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #f1efef;
  text-align: center;
  margin-top: 6rem;
}

footer h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

footer p {
  font-size: 0.9rem;
  font-weight: 200;
  margin: 25px;
  color: #6b5a5b;
}

/*------------font------styling--------------*/
h2 {
  font-family: "rockwell", serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #756163;
}
h3 {
  font-family: "rockwell", serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: #a84b52;
}
p {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  color: #6b5a5b;
  font-size: 1rem;
  margin: 0;
}

/*--pris-*/
.dk {
  color: #6b5a5b;
  font-weight: lighter;
}

.pris {
  font-family: rockwell;
  font-style: condensed;
  color: #6b5a5b;
}

.hover {
  background-color: #f1efef;
  box-shadow: none;
}
